/* Shared styles for forms */

.form-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
 
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.form-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.form-group {
  margin-bottom: 15px;
   
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
button {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 10px;
}